<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bun X HTMX</title>
  <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/open-props"/>
  <link rel="stylesheet" href="assets/index.css"/>
</head>
<body>
  <header class="header">
    <hgroup>
      <h1>Bun X HTMX</h1>
      <!-- <h2>Tutorial by Dante</h2> -->
    </hgroup>
  </header>
  <main class="container">
    <form
      hx-post="/todos"
      hx-target="#todos"
      hx-ext="json-enc"
      _="on submit target.reset()"
    >
      <label for="todo">New Todo</label>
      <input id="todo" name="todo" type="text" placeholder="New todo">
      <button type="submit">Create</button>
    </form>
    <section 
      id="todos"
      hx-get="/todos"
      hx-trigger="load"
    >
    </section>
  </main>
</body>
</html>